@{ ViewData["Title"] = "Acerca de nuestra Historia, nuestros Productos y nuestros Procesos"; }
<h2>@ViewData["Title"]</h2>
    <h3>
        @ViewData["Message"]
    </h3>

<!-- Secciones que describen la heladería -->
<section>
    <h2>Historia de la empresa</h2>
    <p>
        La empresa se fundó en 1986, en la localidad de Esteban de Echeverría, provincia de Buenos Aires. En sus comienzos era un
        emprendimiento de temporada y era dirigido por los 3 hermanos Gutierrez.
    </p>
    <p>
        Rapidamente fueron siendo conocidos en los alrededores por tener una amplia variedad de sabores y buenos precios. Actualmente
        en la empresa trabajan 80 personas y día a día preparan y ofrecen la mejor calidad de helados y cremas a precios
        satisfactorios.
    </p>
    <p>
        El crecimiento del emprendimiento era la prioridad para los 3 hermanos. Es así como se esforzaron para mejorar la Producción
        y Comercialización de los helados, y a su vez conseguir fondos para expandir la llegada de "Como hace diez años"
        a más mercados.
    </p>
</section>

<section>
    <h2>Productos</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/capelina.png" alt="capelina" width="300">
            <p class="text-center">Presentación en capelinas</p>
        </div>
        <div class="col-md-4">
            <img src="~/images/vasito.png" alt="vasito de helado" width="300">
            <p class="text-center">Presentación en cucuruchos y vasitos</p>
        </div>
        <div class="col-md-4">
            <img src="~/images/torta-helada1.jpg" alt="torta helada" width="300">
            <p class="text-center">Presentación en postres y tortas</p>
        </div>
    </div>
</section>

<section>
    <h2>Proceso de elaboración</h2>
    <p>Los helados son fabricados de manera artesanal. La materia prima se obtiene de reconocidos Proveedores de confianza.
        Y durante todo el proceso de producción, se respetan y cumplen los estándares de calidad ISO 9000.
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint quas tempora corporis velit eum? Beatae earum, officia
        blanditiis deleniti porro accusamus, reiciendis repellendus mollitia iure voluptatum dolores, quasi fugiat sequi.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aperiam nulla sunt labore quae atque accusantium,
        minus vel ipsa inventore omnis quis alias! Ipsa amet cum et ab, quae saepe?
    </p>
</section>