@{
    ViewData["Title"] = "Inicio";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/helados-principal.jpg" alt="" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Helados y cremas todo el año! Ventas por Mayor y Menor
                    <a class="btn btn-default" href="">
                        Ver más
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/torta-helada.jpg" alt="" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos tempore debitis facilis quidem dicta 
                    <a class="btn btn-default" href="">
                        Aprender más
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/atencion-cliente.jpg" alt="" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt doloribus delectus soluta.
                    <a class="btn btn-default" href="">
                        Conocer más
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/torta-helada.jpg" alt="" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, maiores ab? Iusto eius reiciendis.
                    <a class="btn btn-default" href="">
                        Leer más
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previo</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<div class="row">
    <div class="col-md-12">
        <h2></h2>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        </ul>
    </div>
</div>
