@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Un error ocurrió mientras se procesaba su solicitud.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo Desarrollo</h3>
<p>
    Intercambiar al ambiente <strong>Desarrollo</strong> mostrará información más detallada acerca del error que ocurrió.
</p>
<p>
    Para Depuración local, el entorno de Desarrollo puede ser habilitado indicando la variable de entorno <strong>ASPNETCORE_ENVIRONMENT</strong> igual a <strong>Desarrollo</strong>, y reiniciando la aplicación.
</p>
