
@{
    ViewBag.Title = "Contacto";
}
@section styles{
    <link href="~/Content/contacto.css" rel="stylesheet" />
}

<h1>Contacto</h1>
<p>Acá nos podés dejar tus comentarios.</p>

<form action="@Url.Action("RecibirContacto", "Home")" method="post">

    <label for="nombre">Nombre: </label><input name="nombre" type="text" placeholder="Ingresá tu nombre..." required>
    <label for="mail">Mail: </label><input name="mail" type="email" placeholder="Ingresá tu mail..." required>
    <label for="mensaje">Mensaje: </label><textarea name="mensaje" maxlength="140" required></textarea>
    <input type="submit" value="Enviar...">

</form>
