ul {
    list-style:none;
    background-color: red;
}

/* selector por id, se le agrega el # */
#menu {
    background-color:aquamarine;     
    /*border-top: 1px solid black;
    border-right: 1px  solid black;
    border-bottom: 10px  solid black;
    border-left: 1px solid black;*/
    border: 1px solid black;
}

/* li descendientes del elemento con id menu*/
#menu li{
    display: inline-block;
}

/* selector por clase */
.sinopsis {
    font-size: 16px;
}

.sinopsis.principal {
    font-size: 20px;
}
